<card class="px-2 py-2 mb-2">
  <sndvll-accordion>
    <sndvll-accordion-item [expanded]="expanded" (onExpandedStateChanges)="onExpand($event)">
      <sndvll-accordion-item-header class="flex justify-between" cardHeader>
        <div class="font-bold flex w-full justify-between">
          <span class="text-sm">{{name}}</span>
          <div class="flex flex-col">
            <span class="text-xl">
            {{(totalListAmount | async) | amount : currentLanguage : displayCurrency}}
          </span>
          <span class="text-xs text-right"
                [class.text-red-500]="negativeChange"
                [class.text-green-500]="!negativeChange">
            {{totalListPriceChange | number : '1.2-2' | change}}
          </span>
          </div>
        </div>
        <button sndvll-btn="icon" #contextMenuButton (click)="openContextMenu($event, contextMenuButton, contextMenu)">
          <icon name="more-vertical"></icon>
        </button>
      </sndvll-accordion-item-header>
      <sndvll-accordion-item-content cardContent>
        <div class="grid grid-cols-7 grid-flow-col auto-cols-min px-2 pb-1 text-xs font-bold">
          <div class="text-right col-span-5">{{'ASSET_LIST.HEADER.RATE' | translate}}</div>
          <div class="text-right col-span-2">{{'ASSET_LIST.HEADER.QUANTITY' | translate}}</div>
        </div>
        <sndvll-accordion>
          <sndvll-accordion-item
            class="block rounded select-none my-1 px-2 py-1"
            *ngFor="let asset of assets"
            [class.bg-gray-100]="item.expanded"
            [class.dark:bg-gray-800]="item.expanded"
            [id]="asset.id"
            #item>
            <sndvll-accordion-item-header>
              <asset-header [asset]="asset"
                            [displayCurrency]="displayCurrency"
                            [currentLanguage]="currentLanguage"></asset-header>
            </sndvll-accordion-item-header>
            <sndvll-accordion-item-content>
              <asset-body [asset]="asset"
                          [displayCurrency]="displayCurrency"
                          [currentLanguage]="currentLanguage"
                          (onSave)="onSaveEditedAsset($event)"
                          (onDelete)="onDeleteAsset($event)"></asset-body>
            </sndvll-accordion-item-content>
          </sndvll-accordion-item>
        </sndvll-accordion>
      </sndvll-accordion-item-content>
    </sndvll-accordion-item>
  </sndvll-accordion>
</card>

<ng-template #contextMenu>
  <button sndvll-dropdown-item (click)="openEditModal(editModal)" class="text-black dark:text-white">
    <icon name="edit"></icon>
    <span class="ml-2">{{'ASSET_LIST.CONTEXT_MENU.EDIT_LIST' | translate}}</span>
  </button>
  <button sndvll-dropdown-item (click)="openDeleteListAlert()" class="text-red-400 dark:text-red-400">
    <icon name="trash-2"></icon>
    <span class="ml-2">{{'ASSET_LIST.CONTEXT_MENU.DELETE_LIST' | translate}}</span>
  </button>
</ng-template>

<ng-template #editModal>
  <div class="p-6">
    <div class="justify-between" modalHeader>
      <span class="text-lg font-bold">{{name}}</span>
      <icon name="edit" size="2rem" class="text-green-400"></icon>
    </div>
    <div modalContent>
      <form [formGroup]="editModalForm">
        <div class="text-xs font-bold">{{'ASSET_LIST.EDIT_LIST_MODAL.LABEL.NAME' | translate}}</div>
        <sndvll-input formControlName="name"
                      placeholder="{{'ASSET_LIST.EDIT_LIST_MODAL.PLACEHOLDER.NAME' | translate}}"
                      class="mb-2 my-1"
                      type="text">
        </sndvll-input>
      </form>
    </div>
    <div class="justify-between flex-col" modalFooter>
      <button sndvll-btn="button" class="success mb-2"
              (click)="onSaveEditedList()">{{'ASSET_LIST.EDIT_LIST_MODAL.BUTTON.SAVE' | translate}}</button>
      <button sndvll-btn="button" class="secondary" (click)="closeEditModal()">{{'ASSET_LIST.EDIT_LIST_MODAL.BUTTON.CLOSE' | translate}}</button>
    </div>
  </div>
</ng-template>
