<div class="flex items-center justify-start">
  <asset-icon [symbol]="asset.symbol"
              class="{{iconTextColor}} {{iconBgColor}}"></asset-icon>
</div>

<div class="grid grid-2 grid-flow-row col-span-4">
  <div class="grid grid-2 grid-flow-col">
    <span class="text-lg font-bold">{{asset.symbol | uppercase}}</span>
    <span class="text-lg text-right"> {{(rate | async) | amount : currenLanguage : displayCurrency}}</span>
  </div>
  <div class="grid grid-2 grid-flow-col">
    <div class="text-xs">{{asset.name}}</div>
    <div class="text-xs font-bold text-right"
         [class.text-red-500]="negativeChange"
         [class.text-green-500]="!negativeChange">
      {{marketChange | number : '1.2-2' | change}}
    </div>
  </div>
</div>
<div class="pl-2 break-all text-right flex flex-col col-span-2">
  <span class="text-sm">{{asset.quantity | number : '1.2-6'}}</span>
</div>
