<div dragContainer cdkDropList (cdkDropListDropped)="reorderLists($event)">
  <asset-list *ngFor="let list of lists"
              class="md:mx-2 mb-2 w-full md:w-50"
              [list]="list"
              [displayCurrency]="displayCurrency"
              [currentLanguage]="currentLanguage"
              (deleteAsset)="deleteAsset($event)"
              (deleteList)="deleteList($event)"
              (editAsset)="editAsset($event)"
              (editList)="editList($event)"
              (expand)="expand($event)"
              dragItem
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragStartDelay]="300"
              [cdkDragDisabled]="lists.length === 1"
  ></asset-list>
</div>
