<sndvll-searchbar class="mb-2"
                  size="sm"
                  (valueChanges)="onSearch($event)"></sndvll-searchbar>

<ng-template #searchResultRef>
  <ng-container *ngIf="searchStatus === 'result'">
    <searchbar-result-item *ngFor="let currency of searchResult"
                           class="flex flex-row justify-between items-center py-1 px-2">
      <div class="w-full h-8 hover:bg-gray-100 cursor-pointer rounded px-2 flex items-center"
           (click)="onOpenCurrencyDetails(currency)">
        {{currency.name}}
      </div>
      <button sndvll-btn="icon">
        <icon name="plus-circle" (click)="add(currency)"></icon>
      </button>
    </searchbar-result-item>
  </ng-container>
  <ng-container *ngIf="searchStatus === 'empty'">
    <div class="w-full text-center">
      Search for any coin.
    </div>
  </ng-container>
  <ng-container *ngIf="searchStatus === 'noresult'">
    <div class="w-full text-center">
      No results, try something else.
    </div>
  </ng-container>
</ng-template>
