<ng-container *ngIf="(selectedChanges | async)?.label as label; else placeholderElement">
  <div class="select-label" [class]="size" (click)="open()">{{label}}</div>
</ng-container>
<div class="select-chevron-container" [class]="size">
  <button class="select-chevron focus:outline-none focus:cursor-pointer" [class]="size" (click)="open()">
    <icon [name]="opened ? 'chevron-up' : 'chevron-down'" [size]="'sm'"></icon>
  </button>
</div>
<ng-template #placeholderElement>
  <div class="select-placeholder" [class]="size" (click)="open()">{{placeholder}}</div>
</ng-template>
