<div class="flex flex-row justify-between">
  <div class="text-lg break">{{alertConfig.message}}</div>
  <div>
    <icon [name]="icon" size="2rem" class="{{iconColor}} ml-2"></icon>
  </div>
</div>
<ng-container [ngSwitch]="alertConfig.type">
  <ng-container *ngSwitchCase="'warning'">
    <div class="flex flex-row justify-between mt-5">
      <button sndvll-btn="button" class="button btn danger" (click)="close(true)">OK</button>
      <button sndvll-btn="button" class="button btn secondary" (click)="close(false)">Abort</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'input'">
    <sndvll-input placeholder="Name" [formControl]="formControl"></sndvll-input>
    <div class="flex flex-row justify-between mt-5">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">Abort</button>
      <button sndvll-btn="button" class="button btn success" [disabled]="disabledButton" (click)="close(formControl.value)">Save</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="flex flex-row justify-end mt-5">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">OK</button>
    </div>
  </ng-container>
</ng-container>
