<div class="alert-header">
  <div class="text-lg">{{alertConfig.message}}</div>
  <div>
    <icon [name]="icon" size="2rem" class="{{iconColor}}"></icon>
  </div>
</div>
<ng-container [ngSwitch]="alertConfig.type">
  <ng-container *ngSwitchCase="'warning'">
    <div class="alert-content">
      <sndvll-toggle [formControl]="toggleControl">I understand that this can not be undone!</sndvll-toggle>
    </div>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary"
              (click)="close(false)">Close</button>
      <button sndvll-btn="button" class="button btn danger"
              [disabled]="disabledButton"
              (click)="close(true)">OK</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'input'">
    <div class="alert-content flex-col">
      <div class="text-xs font-bold">Name</div>
      <sndvll-input placeholder="Name" class="w-full" [formControl]="inputControl"></sndvll-input>
    </div>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">Close</button>
      <button sndvll-btn="button" class="button btn success"
              [disabled]="disabledButton"
              (click)="close(inputControl.value)">Save</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">OK</button>
    </div>
  </ng-container>
</ng-container>
