<!-- TODO MAKE ALL LABELS CONFIGURABLE FROM CONFIG OBJECT -->
<div class="alert-header">
  <div class="text-lg">{{alertConfig.message | translate}}</div>
  <div>
    <icon [name]="icon" size="2rem" class="{{iconColor}}"></icon>
  </div>
</div>
<ng-container [ngSwitch]="alertConfig.type">
  <ng-container *ngSwitchCase="'warning'">
    <div class="alert-content">
      <sndvll-toggle [formControl]="toggleControl" [color]="Color.red">{{'COMPONENTS.ALERT.WARNING_MESSAGE' | translate}}</sndvll-toggle>
    </div>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary"
              (click)="close(false)">{{'COMPONENTS.ALERT.BUTTON.CLOSE' | translate}}</button>
      <button sndvll-btn="button" class="button btn danger"
              [disabled]="disabledButton"
              (click)="close(true)">{{'COMPONENTS.ALERT.BUTTON.OK' | translate}}</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'input'">
    <div class="alert-content flex-col">
      <div class="text-xs font-bold mb-1">{{alertConfig.editValueName! | translate}}</div>
      <sndvll-input placeholder="Name" class="w-full" [formControl]="inputControl"></sndvll-input>
    </div>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">{{'COMPONENTS.ALERT.BUTTON.CLOSE' | translate}}</button>
      <button sndvll-btn="button" class="button btn success"
              [disabled]="disabledButton"
              (click)="close(inputControl.value)">{{'COMPONENTS.ALERT.BUTTON.SAVE' | translate}}</button>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="alert-footer">
      <button sndvll-btn="button" class="button btn secondary" (click)="close()">{{'COMPONENTS.ALERT.BUTTON.OK' | translate}}</button>
    </div>
  </ng-container>
</ng-container>
