<div class="sticky top-0 bg-white shadow-sm dark:bg-gray-900 px-2 pt-2 pb-1 ">
  <div class="flex flex-row justify-between px-3 pb-3 pt-1">
    <!--<sndvll-toggle class="active:bg-transparent focus:bg-transparent"
                   [formControl]="togglePriceControl"
                   [color]="Color.green"></sndvll-toggle>-->
    <button sndvll-btn="icon" (click)="refresh()">
      <icon name="refresh-ccw"></icon>
    </button>
    <img src="../assets/logo.png" class="w-10 h-10 filter dark:invert" alt="logotype">
    <button sndvll-btn="icon" (click)="openSettings(settings)">
      <icon name="menu" weight="bold" size="1.5rem"></icon>
    </button>
  </div>
  <total-amount></total-amount>
  <crypto-searchbar (addCurrency)="addCurrency($event)"
                    (openCurrencyDetails)="openDetails($event)"></crypto-searchbar>
</div>
<div class="px-2 pt-2 pb-5 flex flex-col md:flex-row justify-center">
  <asset-lists></asset-lists>
  <!--<div class="flex flex-row justify-center mt-3">
    <button sndvll-btn="icon"
            [hover]="false"
            class="hover:text-gray-400 rounded-full"
            (click)="add()">
      <icon name="plus-circle" size="2rem"></icon>
    </button>
  </div>-->
</div>

<ng-template #settings>
  <settings (onClose)="settingsModalRef?.close()"></settings>
</ng-template>
