<div class="p-5 bg-green-100 box-border rounded shadow-sm">
  <div class="flex flex-row justify-between">
    <div>Show holdings in</div>
    <div class="flex flex-row gap-x-1">
      <div class="base-currency active">USD</div>
      <div class="base-currency">EUR</div>
      <div class="base-currency">BTC</div>
      <div class="base-currency">ETH</div>
    </div>
  </div>
  <div class="mt-2 text-3xl font-light">
    {{totalAmount | currency}}
  </div>
</div>

<div>
  <button (click)="add()" class="button primary">Add</button>
  <button (click)="openModal(modalTemplate)" class="button secondary">Modal</button>
  <button (click)="openToast()" class="button bg-green-400">Toast</button>
  <button (click)="openConnectedLeft(origin1)" class="button primary" #origin1>Connected Left</button>
  <button (click)="openConnectedRight(origin2)" class="button primary" #origin2>Connected Right</button>
  <button (click)="openConnectedMiddleBottom(origin3)" class="button primary" #origin3>Connected Middle bottom</button>
  <button (click)="openConnectedTopRight(origin4)" class="button primary" #origin4>Connected Top Right</button>
</div>

<div class="mt-4 py-5">
  <div class="grid grid-cols-7 px-5">
    <div class="w-14"></div>
    <div class="text-sm">Name</div>
    <div class="text-sm text-left">Rate</div>
    <div class="text-sm text-right col-span-4">Value / Quantity</div>
  </div>
  <div>
    <asset *ngFor="let asset of assets"
           [name]="asset.name"
           [shortName]="asset.shortName"
           [quantity]="asset.quantity"
           [rate]="asset.rate"
           [marketChange]="asset.change">
    </asset>
  </div>
</div>

<ng-template #modalTemplate>
  <div class="w-100">
    <button (click)="openToast()" class="button bg-green-400">Toast</button>
    <form [formGroup]="formGroup">
      <sndvll-select class="my-2"
                     formControlName="select"
                     [options]="options" placeholder="select component">
      </sndvll-select>
      <sndvll-input class="my-2"
                    formControlName="input"
                    placeholder="input component">
      </sndvll-input>
      <sndvll-toggle class="my-2"
                     formControlName="toggle">
        Toggle label
      </sndvll-toggle>
    </form>
  </div>
  <pre>{{formGroup.value | json}}</pre>
</ng-template>
