<button (click)="add()">Add</button>
<button (click)="openModal()">Modal</button>
<div class="p-5 bg-green-100 box-border rounded shadow-sm">
  <div class="flex flex-row justify-between">
    <div>Show holdings in</div>
    <div class="flex flex-row gap-x-1">
      <div class="base-currency active">USD</div>
      <div class="base-currency">EUR</div>
      <div class="base-currency">BTC</div>
      <div class="base-currency">ETH</div>
    </div>
  </div>
  <div class="mt-2 text-3xl font-light">
    {{totalAmount | currency}}
  </div>
</div>

<div class="mt-4 py-5">
  <div class="grid grid-cols-7 px-5">
    <div class="w-14"></div>
    <div class="text-sm">Name</div>
    <div class="text-sm text-left">Rate</div>
    <div class="text-sm text-right col-span-4">Value / Quantity</div>
  </div>
  <div>
    <asset *ngFor="let asset of assets"
           [name]="asset.name"
           [shortName]="asset.shortName"
           [quantity]="asset.quantity"
           [rate]="asset.rate"
           [change]="asset.change">
    </asset>
  </div>
</div>
