@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/shared";
@import "./styles/dialog";

html, body {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-gray-200 dark:bg-gray-900;
}

* {
  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
  //-webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.overflow-touch {
  -webkit-overflow-scrolling : touch !important;
}
