@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/shared";
@import "./styles/tracker";
@import "./styles/dialog";

html, body {
  height: 100%;
  touch-action: manipulation;
}
body {
  margin: 0;
  @apply bg-gray-200 dark:bg-black;
}

div, span {
  touch-action: manipulation;
}
